#form {
    margin: auto;
    width: 500px;
    background-color: cadetblue;
    border: cornflowerblue solid 3px;
    border-radius: 10px;
    padding: 3%;
}

.head1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-weight: bold;
}

.hello {
    width: 250px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}